.venv/
build/
dist/
duckdb_temp/
test_input/
test_output/

*.exe
*.zip
*.rar

*.csv
*.parquet
*.log

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
node_modules/
.npm/
npm-debug.log*
.vercel/
.vscode/
.env*
!.env.example
.DS_Store
Thumbs.db
*_normalized.tmp.csv